{% extends "base.html" %}

{% block content %}

<div class="container py-5">

<h1>About Project


</h1>

<!-- Team Members Section -->

<h2 class="text-center text-dark fw-bold mt-5 mb-4">
    Our Team
</h2>

<div class="row g-4">

    <!-- Team Member 1 -->
    <div class="col-md-4">
        <div class="feature-card text-center h-100">

            <h3 class="fw-bold">
                VALASAREDDY MEGHANA
            </h3>

            <hr>

            <p>

            </p>

            <p>
                <strong>Role:</strong> TEAM LEADER
            </p>

            <p>
                Designed responsive web pages using Flask, HTML, CSS, and Bootstrap.
            </p>

        </div>
    </div>


    <!-- Team Member 2 -->
    <div class="col-md-4">
        <div class="feature-card text-center h-100">

            <h3 class="fw-bold">
                MADAPARTHI HARIKA
            </h3>

            <hr>

            <p>

            </p>

            <p>
                <strong>Role:</strong> TEAM MEMBER
            </p>

            <p>
                Responsible for data cleaning, preprocessing, and analyzing housing data.
            </p>

        </div>
    </div>


    <!-- Team Member 3 -->
    <div class="col-md-4">
        <div class="feature-card text-center h-100">

            <h3 class="fw-bold">
                UGRANAM GAYATHRI
            </h3>

            <hr>

            <p>

            </p>

            <p>
                <strong>Role:</strong> TEAM MEMBER
            </p>

            <p>
                Created interactive dashboards, visualizations, and Tableau stories.
            </p>

        </div>
    </div>

</div>

</div>

{% endblock %}