{% extends "base.html" %}

{% block content %}

<div class="container-fluid py-5">

    <h1 class="text-center mb-4">Dashboard 01</h1>

    <p class="text-center">
        Explore the interactive Tableau dashboard showing housing market trends,
        sales prices, and key property features.
    </p>

    <div class="tableauPlaceholder" id="viz1781340337318" style="width:100%; height:auto;">

        <noscript>
            <a href="#">
                <img alt="Dashboard 1"
                src="https://public.tableau.com/static/images/Vi/VisualizingHousingMarketTrendsAnAnalysisofSalesPricesandFeaturesusingTableau-DASHBOARD01/Dashboard1/1_rss.png"
                style="border:none; width:100%;">
            </a>
        </noscript>

        <object class="tableauViz" style="display:none;">

            <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
            <param name="embed_code_version" value="3" />
            <param name="name"
            value="VisualizingHousingMarketTrendsAnAnalysisofSalesPricesandFeaturesusingTableau-DASHBOARD01/Dashboard1" />
            <param name="tabs" value="no" />
            <param name="toolbar" value="yes" />
            <param name="language" value="en-GB" />

        </object>

    </div>

</div>


<script type="text/javascript">

    var divElement = document.getElementById("viz1781340337318");
    var vizElement = divElement.getElementsByTagName("object")[0];

    // Responsive size
    vizElement.style.width = "100%";
    vizElement.style.height = "850px";

    var scriptElement = document.createElement("script");
    scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
    vizElement.parentNode.insertBefore(scriptElement, vizElement);

</script>

{% endblock %}