{% extends "base.html" %}


{% block content %}


<section class="hero">

<div>

<h1>
Visualizing Housing Market Trends
</h1>


<p>
An Analysis of Sale Prices and Features using Tableau
</p>


<a href="/dashboard01"
class="btn btn-warning btn-lg mt-3">

Explore Dashboard

</a>


</div>


</section>


<div class="container mt-5">


<div class="row">


<div class="col-md-4">

<div class="feature-card">

<h2>Price Analysis</h2>

<p>
Study average sale prices and housing trends.
</p>

</div>

</div>



<div class="col-md-4">

<div class="feature-card">

<h2>House Features</h2>

<p>
Analyze bedrooms, bathrooms, floors and basement areas.
</p>

</div>

</div>


<div class="col-md-4">

<div class="feature-card">

<h2>Interactive Dashboard</h2>

<p>
Explore Tableau dashboards and visual stories.
</p>

</div>

</div>


</div>

</div>


{% endblock %}